@charset "UTF-8";
/* VARIABLES DE USO GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONDO DE BODY*/
.fondo {
  background-color: #a0c9cc;
}

.container-encabezado {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #a5a5a5;
  box-shadow: 0px 2px 5px black;
  position: sticky;
  top: 0;
  z-index: 1;
}
.container-encabezado .cont-img {
  width: 100%;
  flex: 1 1 5px;
}
.container-encabezado .cont-img #icono-menu {
  margin-left: 10px;
  position: relative;
  z-index: 1;
  vertical-align: top;
  width: 20px;
  cursor: pointer;
}
.container-encabezado .cont-title {
  width: 75%;
}
.container-encabezado .cont-title .titulo_navegacion {
  width: 100%;
  display: block;
  margin: auto;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: black;
  background-color: lightblue;
  flex: 1 1 5px;
}

/* ESTILO PARA ICONO MENU*/
/* ESTILO PARA CONTENEDOR DE MENU*/
#cont-menu {
  background-color: #2a2a2a;
  box-shadow: 2px 0px 5px 2px #424242;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -300px;
  transition: all 0.5s ease;
}
#cont-menu .nav__ul {
  position: relative;
  padding: 100px 0px 20px 0px;
  list-style: none;
}
#cont-menu .nav__ul .nav__a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
}
#cont-menu .nav__ul .nav__a:hover {
  color: #2a2a2a;
}
#cont-menu .nav__ul .nav__a .nav__li {
  display: inline-block;
  width: 100%;
  padding: 10px 50px;
  cursor: pointer;
}
#cont-menu .nav__ul .nav__a .nav__li:hover {
  background-color: #5ea8bb;
  color: #2a2a2a;
}

/*ESTILO PARA JAVASCRIPT*/
#cont-menu.active {
  left: 0;
}

@media (min-width: 1024px) {
  .container-encabezado {
    background-color: #af4a4a;
    box-shadow: 0px 2px 5px black;
  }
  .container-encabezado .cont-title .titulo_navegacion {
    font-size: 3rem;
    color: black;
    background-color: red;
    text-align: end;
  }

  #icono-menu {
    margin-left: 0;
    width: 40px;
    cursor: pointer;
  }
}
main {
  max-width: 1366px;
  width: 80%;
  margin: auto;
  /* TITULO DESCRIPCION Y 3 IMAGENES PRINCIPALES DE INDEX*/
  /* CARDS DE TIPOS DE PRODUCTOS*/
}
main .section-1 .subtitle {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Times New Roman", Times, serif;
}
main .section-1 .p-portada {
  font-size: 1.6rem;
  color: #2e2e2e;
  text-align: center;
  margin-top: 10px;
}
main .section-1 .contenedor-img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;
  margin: auto;
}
main .section-1 .contenedor-img__cont {
  width: 100%;
  padding: 10px;
}
main .section-1 .contenedor-img__cont .cont__portada {
  object-fit: cover;
  width: 100%;
  height: 150px;
  margin: auto;
  border-style: double;
  border-radius: 10px;
  box-shadow: 6px 6px 5px black;
}
main .section-2 .subtitle {
  font-size: 1.6rem;
  color: black;
  text-align: center;
  margin-top: 10px;
}
main .section-2 .p-portada {
  font-size: 1.6rem;
  color: #2e2e2e;
  text-align: center;
  margin-top: 10px;
}
main .section-2 .p-portada a {
  color: #2e2e2e;
  text-decoration: none;
  cursor: pointer;
}
main .section-2 .contenedor-img2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: auto;
}
main .section-2 .contenedor-img2 .card-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background-color: rgba(7, 7, 7, 0.568);
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px white;
  margin-top: 10px;
}
main .section-2 .contenedor-img2 .card-index__img {
  width: 80%;
  padding: 20px;
}
main .section-2 .contenedor-img2 .card-index__img img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}
main .section-2 .contenedor-img2 .card-index__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}
main .section-2 .contenedor-img2 .card-index__text .text-portada {
  color: white;
  margin: 5px;
}
main .section-2 .contenedor-img2 .card-index__text h3 {
  font-size: 2rem;
}
main .section-2 .contenedor-img2 .card-index__text p {
  font-size: 1rem;
}
main .section-2 .contenedor-img2 .card-index__text h4 {
  font-size: 1.5rem;
}

/* RESPONSIVE DISPOSITIVOS PEQUEÑOS*/
@media screen and (max-width: 600px) {
  main {
    width: 100%;
  }
  main .section-1 .subtitle {
    font-size: 1.3rem;
    color: black;
  }
  main .section-1 .p-portada {
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;
  }
  main .section-1 .contenedor-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    padding: 10px;
    margin: auto;
  }
  main .section-1 .contenedor-img__cont {
    width: 90%;
    padding: 10px;
  }
  main .section-2 .subtitle {
    font-size: 1.1rem;
  }
  main .section-2 .p-portada {
    font-size: 1.1rem;
  }
  main .section-2 .p-portada a {
    color: #2e2e2e;
    text-decoration: none;
    cursor: pointer;
  }
  main .section-2 .contenedor-img2 {
    width: 90%;
  }
  main .section-2 .contenedor-img2 .card-index {
    flex-direction: column;
    width: 300px;
    padding: 10px;
  }
  main .section-2 .contenedor-img2 .card-index__img {
    padding: 10px;
  }
  main .section-2 .contenedor-img2 .card-index__text h3 {
    font-size: 1.1rem;
  }
  main .section-2 .contenedor-img2 .card-index__text p {
    font-size: 0.9rem;
  }
  main .section-2 .contenedor-img2 .card-index__text h4 {
    font-size: 1.1rem;
  }
}
/* RESPONSIVE MEDIANOS*/
@media (min-width: 600px) and (max-width: 1280px) {
  main {
    width: 100%;
  }
  main .section-1 .subtitle {
    font-size: 2rem;
    color: black;
  }
  main .section-1 .p-portada {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5px;
  }
  main .section-1 .contenedor-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    padding: 5px;
    margin: auto;
  }
  main .section-1 .contenedor-img__cont {
    width: 90%;
    padding: 10px;
  }
  main .section-2 .subtitle {
    font-size: 2rem;
  }
  main .section-2 .p-portada {
    font-size: 2rem;
  }
  main .section-2 .p-portada a {
    color: #2e2e2e;
    text-decoration: none;
    cursor: pointer;
  }
  main .section-2 .contenedor-img2 {
    width: 90%;
  }
  main .section-2 .contenedor-img2 .card-index {
    flex-direction: row;
    width: 95%;
  }
  main .section-2 .contenedor-img2 .card-index__img {
    padding: 10px;
  }
  main .section-2 .contenedor-img2 .card-index__img img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
  }
  main .section-2 .contenedor-img2 .card-index__text h3 {
    font-size: 1.1rem;
  }
  main .section-2 .contenedor-img2 .card-index__text p {
    font-size: 0.9rem;
  }
  main .section-2 .contenedor-img2 .card-index__text h4 {
    font-size: 1.1rem;
  }
}
/* DESCRIPCION QUIENES SOMOS*/
.subtitle {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Times New Roman", Times, serif;
}

.section-qs {
  width: 80%;
  margin: 10px auto;
}
.section-qs .contenedor-qs {
  margin: 20px 0;
}
.section-qs .contenedor-qs .p-portada {
  color: #2e2e2e;
  font-size: 1.6rem;
  width: 100%;
  margin: auto;
  text-align: center;
}

/* FORMULARIO */
.border {
  background: rgba(124, 199, 199, 0.678);
  border-radius: 10px;
  margin: 40px auto;
  padding: 1rem;
  border: 2px solid rgba(29, 29, 29, 0.664);
  box-shadow: 0 2px 5px black;
  width: 80%;
}
.border .label {
  font-size: 1.2rem;
  margin: 15px auto;
}
.border .input {
  background: #313131;
  border-radius: 10px;
  padding: 0.5rem;
  color: #797979;
  border-style: hidden;
  margin: 15px auto;
  width: 100%;
  resize: none;
  font-family: "Times New Roman", Times, serif;
}
.border .inputc {
  margin-top: 10px;
  padding: 1rem;
}

/* RESPONSIVE DISPOSITIVOS PEQUEÑOS*/
@media screen and (max-width: 600px) {
  .border {
    width: 100%;
  }
}
/* RESPONSIVE MEDIANOS*/
@media (min-width: 600px) and (max-width: 1280px) {
  .border {
    width: 90%;
  }
}
/* VARIABLES CARD PRODUCTOS*/
/* RESPONSIVE DISPOSITIVOS PEQUEÑOS*/
.blog-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem auto 0 auto;
  box-shadow: inset 3px 3px 6px #fafafa;
  margin-bottom: 1.6%;
  background: rgba(0, 0, 0, 0.836);
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 10px;
  /* RESPONSIVE MEDIANOS*/
}
.blog-card .foto img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.blog-card .descripcion {
  padding: 1rem;
  margin-bottom: 1rem;
}
.blog-card .descripcion .title-card {
  line-height: 1;
  margin: 0;
  font-size: 1.4rem;
  font-family: sans-serif;
  color: #d3d3d3;
}
.blog-card .descripcion .subtitle-card {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #d3d3d3;
  margin-top: 10px;
}
.blog-card .descripcion .p-card {
  font-size: 1rem;
  color: #e2e2e2;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 800px;
    height: 12rem;
  }
  .blog-card .descripcion {
    flex-basis: 80%;
  }
  .blog-card .descripcion .subtitle-card {
    color: #d3d3d3;
  }
}

/* TEXTO DE SERVICIO Y GALERIA */
.subtitle {
  font-size: 2.5rem;
  color: black;
  text-align: center;
}

.p-portada {
  font-size: 1.6rem;
  color: black;
  text-align: center;
  margin: 1rem auto;
}

/* CARDS SERVICIOS Y GALERIA*/
.gallery-card {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin-top: 2%;
}
.gallery-card .card {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  border-style: hidden;
  border-radius: 20px;
  background-color: rgba(1, 103, 143, 0.637);
  text-align: center;
  box-shadow: inset 3px 3px 4px rgba(255, 255, 255, 0.795);
}
.gallery-card .card__img {
  width: 250px;
  height: 200px;
  border-style: double;
  border-radius: 10px;
  border-color: black;
  box-shadow: 3px 3px 5px rgba(24, 24, 24, 0.897);
}
.gallery-card .card__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 2%;
  color: #020202;
}
.gallery-card .card li {
  font-size: 1.2rem;
  list-style: none;
  margin: 2%;
  color: black;
}

/* RESPONSIVE DISPOSITIVOS PEQUEÑOS*/
@media screen and (max-width: 600px) {
  .subtitle {
    font-size: 1.3rem;
  }

  .p-portada {
    font-size: 1rem;
  }

  .gallery-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 0;
    margin-top: 0.5rem;
  }
  .gallery-card .card {
    width: 270px;
    height: auto;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .gallery-card .card__title {
    font-size: 1.2rem;
  }
}
/* RESPONSIVE MEDIANOS*/
@media (min-width: 600px) and (max-width: 1280px) {
  .subtitle {
    font-size: 2rem;
  }

  .p-portada {
    font-size: 1.5rem;
  }

  .gallery-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 1rem;
    margin-top: 0.5rem;
  }
  .gallery-card .card {
    width: 300px;
    height: auto;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .gallery-card .card__title {
    font-size: 1.2rem;
  }
}
main {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .title {
  font-size: 8rem;
}
main .p-404 {
  font-size: 4rem;
  margin: 40px auto;
}
main .a-404 {
  text-decoration: none;
  font-size: 4rem;
  cursor: pointer;
  color: black;
  font-family: fantasy;
  border: double 3px black;
  padding: 5px;
  border-radius: 10px;
}

/* RESPONSIVE DISPOSITIVOS PEQUEÑOS*/
@media screen and (max-width: 600px) {
  main .title {
    font-size: 3rem;
  }
  main .p-404 {
    font-size: 1.5rem;
  }
  main .a-404 {
    font-size: 1.5rem;
  }
}
/* RESPONSIVE MEDIANOS*/
@media (min-width: 600px) and (max-width: 1280px) {
  main .title {
    font-size: 5rem;
  }
  main .p-404 {
    font-size: 3rem;
  }
  main .a-404 {
    font-size: 3rem;
  }
}
.footer {
  width: 100%;
  margin: auto;
  background-color: #95b7d6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-top: 2px solid black;
}
.footer__contact {
  margin: 5px;
}
.footer__contact img {
  width: 30px;
}
.footer__contact .title__foot {
  font-size: 1.6rem;
  text-align: center;
  color: black;
  margin-bottom: 5px;
}
.footer__contact .redes {
  display: flex;
  flex-direction: column;
}
.footer__contact .redes .footer__contact_a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: #2e2e2e;
}
.footer__ubicacion {
  margin: 5px;
}
.footer__ubicacion .title__foot {
  font-size: 1.6rem;
  text-align: center;
  color: black;
  margin-bottom: 5px;
}
.footer__ubicacion .description__foot {
  font-size: 1.3rem;
  text-align: start;
  color: #2e2e2e;
}
.footer__horario {
  margin: 5px;
}
.footer__horario .title__foot {
  font-size: 1.6rem;
  text-align: center;
  color: black;
  margin-bottom: 5px;
}
.footer__horario .description__foot {
  font-size: 1.3rem;
  text-align: start;
  color: #2e2e2e;
  margin-bottom: 15px;
}

/* RESPONSIVE DISPOSITIVOS PEQUEÑOS*/
@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .footer__contact {
    margin: 5px auto;
  }
  .footer__contact .title__foot {
    font-size: 1.5rem;
  }
  .footer__contact .redes {
    flex-direction: column;
  }
  .footer__ubicacion {
    margin: 5px auto;
  }
  .footer__ubicacion .title__foot {
    font-size: 1.5rem;
  }
  .footer__ubicacion .description__foot {
    font-size: 1.2rem;
    text-align: center;
  }
  .footer__horario {
    margin: 5px auto;
  }
  .footer__horario .title__foot {
    font-size: 1.5rem;
    text-align: center;
  }
  .footer__horario .description__foot {
    font-size: 1.2rem;
    text-align: center;
  }
}
/* RESPONSIVE MEDIANOS*/
@media (min-width: 600px) and (max-width: 1280px) {
  .footer {
    flex-direction: column;
  }
  .footer__contact {
    margin: 5px auto;
  }
  .footer__contact .title__foot {
    font-size: 2rem;
  }
  .footer__contact .redes {
    flex-direction: column;
  }
  .footer__ubicacion {
    margin: 5px auto;
  }
  .footer__ubicacion .title__foot {
    font-size: 2rem;
  }
  .footer__ubicacion .description__foot {
    font-size: 1.8rem;
    text-align: center;
  }
  .footer__horario {
    margin: 5px auto;
  }
  .footer__horario .title__foot {
    font-size: 2rem;
    text-align: center;
  }
  .footer__horario .description__foot {
    font-size: 1.8rem;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
