$color_bg: rgba(0, 0, 0, 0.836);
$color_grey: #e2e2e2;
$color_grey_dark: #d3d3d3;



.blog-card {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin: 1rem auto 0 auto;
	box-shadow: inset 3px 3px 6px rgb(250, 250, 250);
	margin-bottom: 1.6%;
	background: $color_bg;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 10px;
    
    
	.foto {
        img {
            width: 100%;
            border-radius: 10px;
            height: 100%;
        }
	}
	
	.descripcion {
		padding: 1rem;
		
		margin-bottom: 1rem;
		
		.title-card {
			line-height: 1;
			margin: 0;
			font-size: 1.4rem;
            font-family: sans-serif;
            color: $color_grey_dark;
		}
		.subtitle-card {
			font-size: 1.2rem;
			font-weight: 300;
			text-transform: uppercase;
			font-family: sans-serif;
            color: $color_grey_dark;
			margin-top: 10px;
		}
        .p-card {
            font-size: 1rem;
            color: $color_grey;
        }
	}
	@media (min-width: 640px) {
		flex-direction: row;
        max-width: 800px;
		height: 12rem;
		
		

		.descripcion {
			flex-basis: 80%;
			.subtitle-card {
                
				color: $color_grey_dark;
			}	
		}
	}
}