main {
    max-width: 1366px;
    width: $width_desktop;
    margin: auto;
    .section-1{
        .subtitle{
            font-size: $title_size;
            color: $title_color;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
            font-family: $font_title;
        }
        .p-portada {
            font-size: $description_size;
            color: $description_color;
            text-align: center;
            margin-top: 10px;
        }

        .contenedor-img {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            padding: 20px;
            margin: auto;
            &__cont {
                width: 100%;
                padding: 10px;
                .cont__portada{
                    object-fit: cover;
                    width:100%;
                    height: 150px;
                    margin: auto;
                    border-style: double;
                    border-radius: 10px;
                    box-shadow: 6px 6px 5px rgb(0, 0, 0);
                }
            }
            
        }
    }
    .section-2 {
        .subtitle {
            font-size: $description_size;
            color: $title_color;
            text-align: center;
            margin-top: 10px;
        }
        .p-portada {
            font-size: $description_size;
            color: $description_color;
            text-align: center;
            margin-top: 10px;

            a { 
            color: $description_color;
            text-decoration: none;
            cursor: pointer;
            }
        }

        .contenedor-img2 {
            @include flex(column,nowrap);
            .card-index {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: $width_desktop;
                background-color: rgba(7, 7, 7, 0.568);
                border-radius: 10px;
                box-shadow: inset 2px 2px 5px white;
                margin-top: 10px;

                &__img {
                    width: 80%;
                    padding: 20px;
                
                    img {
                        
                        width: 100%;
                        height: 200px;
                        border-radius: 10px;
                        box-shadow: 2px 2px 2px gray;
                    }
                }

                &__text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    margin: 0 auto;

                    .text-portada {
                        color: white;
                        margin: 5px;
                    }
                    h3 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                    h4 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
        .section-1{
            
            .subtitle{
                font-size: 1.3rem;
                color: $title_color;
            }
            .p-portada {
                font-size: 1rem;
                text-align: center;
                margin-top: 5px;
            }
            .contenedor-img {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                width: 300px;
                padding: 10px;
                margin: auto;
                
                &__cont {
                    width: 90%;
                    padding: 10px;
                }
            }
        }
        .section-2 {
            .subtitle {
                font-size: 1.1rem;

            }
            .p-portada {
                font-size: 1.1rem;

                a { 
                    color: $description_color;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            .contenedor-img2 {
                width: $width_mobil;
                .card-index {                    
                    flex-direction: column;
                    width: 300px;   
                    padding:10px;                     
                    &__img {                        
                        padding: 10px;
                    }
                    &__text { 
                        
                        h3 {
                            font-size: 1.1rem;
                        }
                        p {
                            font-size: 0.9rem;
                        }
                        h4 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:600px) and (max-width: 1280px) {
    main {
        width: 100%;
        .section-1{
            
            .subtitle{
                font-size: 2rem;
                color: $title_color;
            }
            .p-portada {
                font-size: 1.5rem;
                text-align: center;
                margin-top: 5px;
            }
            .contenedor-img {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                width: 500px;
                padding: 5px;
                margin: auto;
                
                &__cont {
                    width: 90%;
                    padding: 10px;
                }
            }
        }
        .section-2 {
            .subtitle {
                font-size: 2rem;

            }
            .p-portada {
                font-size: 2rem;

                a { 
                    color: $description_color;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            .contenedor-img2 {
                width: $width_mobil;
                .card-index {                    
                    flex-direction: row;
                    width: 95%;                        
                    &__img {                        
                        padding: 10px;                        
                        img {
                            width: 300px;
                            height: 200px;
                            border-radius: 10px;
                            box-shadow: 2px 2px 2px gray;
                        }
                    }
                    &__text { 
                        h3 {
                            font-size: 1.1rem;
                        }
                        p {
                            font-size: 0.9rem;
                        }
                        h4 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}