.subtitle {
    text-align: center;
    color: $title_color;
    font-size: $title_size;
    margin-top: 5px;
}

.section-qs {
    width: $width_desktop;
    margin: 10px auto;
    .contenedor-qs {
        margin: 20px 0;

        .p-portada {
            color: $description_color;
            font-size: $description_size;
            width: $width_desktop;
            margin: auto;
            text-align: center;
        }
    }
    
}

.border {
    background: rgba(124, 199, 199, 0.678);
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid rgba(29, 29, 29, 0.664);
    box-shadow: 0 2px 5px black;

    .label {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .input {
        background: rgb(49, 49, 49);
        border-radius: 10px;
        padding: 0.5rem;
        color: white;
        border-style: hidden;
        margin: 5px
    }
}

.container-img {
    @include flex (row,nowrap);
    justify-content: center;
    .img-qs {
        width:50%;
        border-radius:10px;
    }
    .text-portada {
        margin:1rem;
        text-align: center;
        font-size: 4rem;
    }
}