.subtitle {
    text-align: center;
    color: $title_color;
    font-size: $title_size;
    margin-top: 5px;
}

.section-qs {
    width: $width_desktop;
    margin: 10px auto;
    .contenedor-qs {
        margin: 20px 0;

        .p-portada {
            color: $description_color;
            font-size: $description_size;
            width: $width_desktop;
            margin: auto;
            text-align: center;
        }
    }
    
}

.border {
    background: $color_secondary;
    border-radius: 10px;
    padding: 1rem;
}

.container-img {
    @include flex (row,nowrap);
    justify-content: center;
    .img-qs {
        width:50%;
        border-radius:10px;
    }
    .text-portada {
        margin:1rem;
        text-align: center;
        font-size: 4rem;
    }
}