$color_primary: rgb(160, 201, 204);
$color_secondary:rgb(149, 183, 214);
$title_size: 2.5rem;
$title_color:black;
$description_size: 1.6rem;
$description_color:rgb(46, 46, 46);
$width_desktop: 80%;
$width_mobil: 90%;
$width_image_box:100%;
$font_title: 'Times New Roman', Times, serif;
