$color_primary: rgb(123, 230, 238);
$color_secondary:rgb(154, 207, 207);
$title_size: 3rem;
$title_color:black;
$description_size: 2rem;
$description_color:rgb(46, 46, 46);
$width_desktop: 80%;
$width_mobil: 90%;
$width_image_box:100%;

